.layout {
  padding: 86px 15px 24px;
  background: #f5f6fa;
  display: flex;
  justify-content: center;
  .main {
    max-width: 1100px;
    width: 100%;
  }
}

.clinic-introduction {
  background: #f5f6fa;
  padding-top: 24px;
  padding-bottom: 40px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;
    color: #121831;
  }
  :global(.ant-btn-variant-solid) {
    width: 150px;
    height: 48px;
    border-radius: 10px;
    border-width: 0;
    > span {
      position: relative;
    }
    &::before {
      content: "";
      background: linear-gradient(239.52deg, #5cdae8 -4.24%, #547bfe 50.45%);
      position: absolute;
      inset: 0;
      opacity: 1;
      transition: all 0.3s;
      border-radius: inherit;
    }
    &:hover::before {
      opacity: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    gap: 24px;
    h1 {
      text-align: center;
    }
  }
}

.content {
  .preview {
    .video {
      border-radius: 16px;
      cursor: pointer;
    }
    .info {
      margin-top: 12px;
      padding: 24px;
      border-radius: 10px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      gap: 12px;
      h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 33.6px;
        color: #333333;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #333333;
      }
    }
  }

  .service_list {
    padding: 24px;
    border-radius: 10px;
    background: #ffffff;
    height: 100%;
    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 33.6px;
      color: #333333;
    }
    .collapse {
      background: transparent;
      max-height: 600px;
      overflow: scroll;

      :global(.ant-collapse-item) {
        border: 0px solid;
        border-radius: 10px;
        margin-top: 12px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:global(.ant-collapse-item-active) {
          border-width: 1px;
        }

        :global(.ant-collapse-header) {
          padding: 12px 15px;
          align-items: center;
          span {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
          :global(.ant-collapse-arrow) {
            font-size: 14px;
            svg {
              fill: #130f26 !important;
            }
          }
        }
        :global(.ant-collapse-content-box) {
          padding: 0 15px 12px;
          font-weight: 400;
          text-align: justify;
          word-break: break-all;
        }
      }

      .cyan {
        background: #5ce1e61a;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #5ce1e6;
        }
        svg {
          fill: #5ce1e6;
        }
      }

      .pink {
        background: #ef6c430d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #f48686;
        }
        svg {
          fill: #f48686;
        }
      }

      .yellow {
        background: #ffcb130d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #ffcb13;
        }
        svg {
          fill: #ffcb13;
        }
      }

      .blue {
        background: #4065e70d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #4065e7;
        }
        svg {
          fill: #4065e7;
        }
      }

      .green {
        background: #64b3000d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #64b300;
        }
        svg {
          fill: #64b300;
        }
      }

      .red {
        background: #ef43430d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #ef4343;
        }
        svg {
          fill: #ef4343;
        }
      }

      .orange {
        background: #f09f260d;
        &:global(.ant-collapse-item-active) {
          border: 1px solid #f09f25;
        }
        svg {
          fill: #f09f25;
        }
      }
    }
  }
}

.collab {
  margin: 24px 0;
  padding: 24px;
  gap: 12px;
  border-radius: 15px;
  background: #3f6bff;
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    color: #ffffff;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0;
    color: #ffffff;
  }
  .collab_list {
    padding: 12px 24px;
    border-radius: 15px;
    background: #ffffff;
    img {
      height: 43px;
      width: auto;
      margin: auto;
    }
    :global(.slider-item) {
      text-align: center;
    }
  }
}

.map {
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
}

.iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  border-radius: 20px;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
