@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/styles/mixin";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import '../assets/styles/index.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  font-smooth: always;
  color: var(--foreground);
  background: var(--background);
  // font-family: 'Roboto';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
