.hero {
  @include bgCenter;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__top {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    color: white;
  }

  &__title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: center;
    color: white;
  }
  &__desc {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: white;
    max-width: 650px;
  }

  &__btns {
    display: flex;
    gap: 12px;
    justify-content: center;
    @include mobile {
        flex-direction: column;
    }
    &--profile,
    &--doc {
      background: #121831;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 18.75px;
      border-radius: 15px;
    }
    &--doc {
      background: #4bdee5;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 70px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      margin-top: 36px;
    }
  }

  &__item {
    border-radius: 33px;
    background: #ffffff;
    padding: 22px 23px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 12px;
    min-height: 150px;
    max-width: 172px;

    h4 {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      line-height: 21.09px;
      text-align: center;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: center;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }
}

.my-news {
  padding-top: 46px;
  padding-bottom: 74px;

  &__wrap {
    width: 1100px;
    margin: auto;
  }

  &__title {
    @include title;
  }
}

.my-carousel {
  &__wrap {
    max-width: 1300px;
    margin: auto;
  }
  &__item {
    background: #f5f6fa;
    padding: 24px;
    border-radius: 21px;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 23.44px;
        text-align: left;
        font-variation-settings: "wdth" 100;
        flex: 1;
      }

      &__icon {
        @include flex;
        border: 1px dotted #ea3232;
        border-radius: 12px;
        padding: 0 10px;
        font-size: 14px;
        height: 33px;
        background: #f5e0e0;
        color: #f85555;
      }
    }

    &__wrap {
      padding: 0 10px;
    }
    &__info {
      width: 100%;

      &__title {
        @apply mb-2 font-medium;
      }
      &__wrap {
        @apply flex flex-col text-center p-[24px] relative;

        background: #4080ff;
        border-radius: 30px;
        gap: 12px;
        p {
          @apply text-white font-normal text-[16px] text-center mb-0 relative z-10;
        }

        &__title {
          @apply flex items-center gap-[8px] font-semibold;

          h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
          }

          &__icon {
            @apply flex items-center justify-center w-[30px] h-[30px] rounded-[10px];
            background: #ffffff4d;

            color: white;
          }
        }
      }

      &__date {
        @apply flex justify-center items-center;
        padding: 12px 12px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px;

        background: #ffffff4d;

        // @include borderGradient;

        &__left,
        &__right {
          @apply flex flex-1 justify-start items-center gap-2 z-10;

          span {
            line-height: 1;
            font-size: 16px;
          }
        }

        &__icon {
          @apply w-[16px] h-[16px];
        }
      }

      &__list {
        @apply flex gap-y-[6px];
        display: flex;
        flex-direction: column;
      }

      &__item {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &__btn {
      height: 48px;
      min-height: auto;
      width: 100%;
    }

    $this: &;

    &.type-1 {
      #{$this} {
        &__info {
          &__wrap {
            &__title {
              h4 {
                color: white;
              }
            }
          }

          &__date {
            color: white;

            &__left,
            &__right {
              span {
                color: white;
              }
            }
          }

          &__item {
            color: white;
          }
        }
      }
    }

    &.type-2 {
      #{$this} {
        &__info {
          color: black !important;

          &__wrap {
            background-color: white;
            padding: 12px;

            &__title {
              h4 {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
                line-height: 18.75px;
                text-align: left;
              }
              &__icon {
                box-shadow: 0px 4px 20px 0px #0000001a;
                border-radius: 100px;
                width: 36px;
                height: 36px;
              }
            }
          }

          &__date {
            border: 1px solid #35c4c4;

            // @include borderGradient;

            &__left,
            &__right {
              span {
                color: #35c4c4;
              }
            }
          }
        }
      }
    }

    &.type-3 {
      padding: 12px 24px;
      #{$this} {
        &__title {
          @include flex(10px, start);
          margin-bottom: 8px;
          h3 {
            flex: none;
          }

          &__icon {
            background-color: white;
            border: none;
            border-radius: 100px;
            width: 42px;
            height: 42px;
          }

          &__count {
            @include flex;
            background: #fff;
            @include textGradient;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            text-align: left;

            width: 24px;
            height: 24px;
            box-shadow: 0px 4px 4px 0px #0000000d;
          }
        }

        &__info {
          &__wrap {
            background-color: white;
            padding: 4px 12px;
            text-align: left;
          }
        }

        &__btn {
          margin-top: 8px;
          width: auto !important;
          color: #5877f2 !important;
          font-weight: 600;
          padding: 0px;
        }
      }
    }

    &.type-4 {
      padding: 24px 24px;
      min-height: 300px;
      #{$this} {
        &__icon {
          @include flex;
          background: #fff;
          border-radius: 100px;
          width: 95px;
          height: 95px;
          margin-bottom: 24px;
        }

        &__btn {
          width: auto !important;
          color: #5877f2 !important;
          font-weight: 600;
          padding: 0px;
        }
      }
    }
  }
  .slick-dots {
    bottom: -30px !important;
    li {
      width: 69px !important;
      height: 5px !important;

      button {
        height: 5px !important;
        background: #e5e9fb !important;
        opacity: 1 !important;
      }

      &.slick-active button {
        background: linear-gradient(
          115.17deg,
          #5de1e7 -18.74%,
          #2f75fe 91.51%
        ) !important;
      }
    }
  }
}

.my-clinic {
  background: #f5f6fa;
  padding-top: 44px;

  &__title {
    @include title;
  }

  &__list {
    @include flex(24px);
    flex-direction: column;
  }

  &__item {
    background: #fff;
    width: 100%;
    @include flex(0, space-between);
    @include boxPage(22px);

    @include mobile {
      @include flex(12px, space-between, start);
      flex-direction: column;
    }

    &__left,
    &__right {
      @include flex(12px, space-between);
    }

    &__right {
      @include tablet {
        @include flex(12px, space-between, end);
        flex-direction: column;
      }

      @include mobile {
        @include flex(12px, space-between, start);
      }
    }

    &__icon {
      width: 64px;
      height: 64px;
      @include boxPage(100px, 0);
      @include flex;
      margin-bottom: 11px;
    }

    &__space {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: left;
      color: #666;
    }

    &__content {
      @include flex(8px, start, start);
      flex-direction: column;
      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #333;
      }

      p {
        @include flex(5px, start);
        color: #333;
      }
    }

    &__schedule {
      @include boxPage(10px, 12px, #f5f6fa);
      @include flex(4px, space-between);
      width: 288px;
      box-shadow: none;

      &__item {
        @include flex(4px);
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}

.health-story {
  background: #f5f6fa;
  padding-top: 44px;
  padding-bottom: 36px;

  &__title {
    @include title;
  }

  &__list {
    @include flex(12px);
    flex-direction: column;
  }

  &__item {
    background: #fff;
    width: 100%;
    @include flex(24px, space-between);
    @include boxPage(15px, 12px 24px);
    box-shadow: none;

    @include mobile {
      @include flex(12px, space-between, center);
      flex-direction: column;
    }

    &__icon {
      width: 36px;
      height: 36px;
      @include boxPage(100px, 0);
      @include flex;
    }

    &__content {
      flex: 1;

      h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 23.44px;
        text-align: left;

        @include mobile {
          text-align: center;
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #333;
      }
    }

    &__btn {
      width: auto !important;
      color: #5877f2 !important;
      padding: 0px !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 19.36px;
      text-align: left;

      span {
        font-weight: 600 !important;
      }
    }
  }
}
