//mixin
@import "./mixin";

// utils
@import "./utils";

// layout
@import "./layout";

// page
@import "./appointment";
@import "./login";
@import "./home";
@import "./hososuckhoe";
@import "./lichsukcb";
@import "./qlytailieu";
// }


// components
@import "./virtual-assistant"